@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 18px;
    font-family: Poppins, system-ui, sans-serif;
  }
}

@layer components {
  .btn {
    @apply p-3 pl-8 pr-8 font-bold text-white transition-all duration-200 ease-in-out rounded-full bg-cyan hover:brightness-125;
  }

  .link {
    @apply transition-colors duration-200 ease-in-out hover:text-cyan;
  }

  .nav-link {
    @apply font-bold transition-colors duration-200 ease-in-out text-grayish-violet hover:text-very-dark-blue;
  }

  .container {
    @apply max-w-5xl pl-2 pr-2;
  }
}
